version: '3'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - CELERY_BROKER_URL=pyamqp://guest@rabbitmq// 
      - CELERY_RESULT_BACKEND=redis://redis
    restart: unless-stopped
    env_file:
      - .env
      
  celery:
    build: .
    command: python3 -m celery -A tasks.celery worker -l info
    volumes:
      - .:/app
    depends_on:
      - web
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=pyamqp://guest@rabbitmq// 
      - CELERY_RESULT_BACKEND=redis://redis
      
  rabbitmq:
    image: "rabbitmq:3.8-management-alpine"
    ports:
      - "15672:15672"
      - "5672:5672"
    restart: unless-stopped

  redis:
    image: "redis"
    ports:
      - "6379:6379"
